.aboutPos {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
}

.aboutPos .aboutCont {
  width: 450px;
  height: 400px;
  background: #262626;
  border-radius: 4px;
  padding: 20px 40px;
  box-shadow: 0px 0px 5px inset #cfee1d;
}

.aboutPos .aboutCont .aboutContText {
  color: white;
  font-size: 20px;
  font-family: 'MedievalSharp', cursive;
  letter-spacing: 2px;
  line-height: 30px;
  text-align: center;
}

@media (max-width: 499px) {
  .aboutPos {
    top: 55%;
    transform: translate(-50%, -55%);
  }
  .aboutPos .aboutCont {
    width: 300px;
    height: 380px;
  }
  .aboutPos .aboutCont .aboutContText {
    font-size: 14px;
    line-height: 20px;
  }
}
