.aboutPos {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.aboutPos .aboutCont {
  width: 450px;
  height: 530px;
  background: #262626;
  border-radius: 4px;
  padding: 20px 12px;
  box-shadow: 0px 0px 5px inset #cfee1d;
}
.aboutPos .aboutCont .routers {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 0;
}
.aboutPos .aboutCont .outerButt {
  width: 120px;
}
.aboutPos .aboutCont .aboutContText {
  color: white;
  font-size: 20px;
  font-family: 'MedievalSharp', cursive;
  letter-spacing: 2px;
  line-height: 30px;
  text-align: center;
  padding-bottom: 10px;
}

@media (max-width: 499px) {
  .aboutPos .aboutCont {
    width: 300px;
    height: 410px;
  }
  .aboutPos .aboutCont .aboutContText {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 8px;
  }
  .aboutPos .aboutCont .outerButt {
    width: 100px;
  }
}
