.armorGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, auto));
  grid-auto-rows: minmax(100px, auto);
  justify-content: center;
  align-content: stretch;
  width: 90%;
  margin: 0 5%;
  height: 100%;
  grid-gap: 20px;
}

.armor {
  background: linear-gradient(
    100deg,
    rgba(207, 239, 29, 0.8) 8%,
    #161616 8%,
    #161616 92%,
    rgba(207, 239, 29, 0.8) 90%
  );
  height: 100%;
  width: 100%;
  border-radius: 2px;
  text-align: center;
  transition: all ease 0.2s;
}

.armor .armorDeets {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgba(207, 239, 29, 0.7);
  text-decoration: underline;
  text-underline-position: under;
  font-family: 'MedievalSharp', cursive;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 2px;
  transform: translate(-50%, -50%);
  transition: all ease 0.2s;
}

.armor:hover {
  transform: translate(0, -5px);
  background: linear-gradient(
    100deg,
    rgba(207, 239, 29, 0.8) 8%,
    #262626 8%,
    #262626 92%,
    rgba(207, 239, 29, 0.8) 90%
  );
  transition: all ease 0.2s;
}

.armor:hover .armorDeets {
  color: rgba(207, 239, 29, 1);
  transition: all ease 0.2s;
}
