/* -------------------------------------------------------------------------- */
/* body is resetting on reload, hence, refresh body css */
* {
  -webkit-box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
}

/* -------------------------------------------------------------------------- */
/*NOTE SCROLLBAR MANIPULATION */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(208, 238, 29, 0.9);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(208, 238, 29, 1);
}
/* -------------------------------------------------------------------------- */

html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
body {
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0px;
  position: relative;
  min-height: 100%;
  height: auto;
  background: black;
  /* -------------------------------------------------------------------------- */
  /* NOTE BODY BACKGROUND */
  /* background: #000;
  background: -webkit-linear-gradient(to bottom, #000, #d6a4a4);
  background: linear-gradient(to bottom, #000, #d6a4a4); */
  /* -------------------------------------------------------------------------- */
}
/* -------------------------------------------------------------------------- */

.monsterContent {
  color: white;
  position: relative;
  top: 0;
  right: 0;
  font-family: 'MedievalSharp', cursive;
  padding: 25px 0 70px 0;
  animation-delay: 0.2s;
}
.monsterContent .tableHoc {
  margin: 0 auto 50px auto;
}

.monsterContent .tableHoc .bodyTable:nth-child(odd) {
  background: rgba(0, 0, 0, 0.6);
}
.monsterContent .monsterTitle {
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}
.monsterContent .monsterDesc {
  margin: 0 0 20px 0;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  color: rgba(208, 238, 29, 1);
}
.monsterContent .imgBlock {
  width: 650px;
  position: fixed;
  filter: brightness(55%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -20;
}

.monsterContent table,
.monsterContent table .tableHeaders,
.monsterContent table .tableInfos {
  border: thin solid rgba(208, 238, 29, 0.6);
  border-collapse: collapse;
  padding: 20px;
  text-align: center;
}

.monsterContent table .tableHeaders {
  text-transform: uppercase;
  width: 50%;
  color: rgba(208, 238, 29, 1);
  font-size: 16px;
}

.monsterContent table .tableInfos {
  width: 50%;
  font-size: 16px;
}
.monsterContent table .lastTr,
.monsterContent table .lastTr tr:last-child {
  border-bottom: 2px solid rgba(208, 238, 29, 1);
}

.monsterContent table #rewardTr,
.monsterContent table #rewardTr tr:nth-child(2) {
  border-top: 2px solid rgba(208, 238, 29, 1);
}

.monsterContent .iconElements {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  top: 2px;
}
.monsterContent .rewardCaption {
  font-size: 20px;
  text-transform: uppercase;
  color: rgba(208, 238, 29, 1);
  padding-bottom: 10px;
}
.monsterContent table .rewardHeaders,
.monsterContent table .rewardNames,
.monsterContent table .rewardInfos {
  border: thin solid rgba(208, 238, 29, 0.6);
  border-collapse: collapse;
  padding: 20px;
  text-align: center;
  font-size: 16px;
}

.monsterContent table .rewardHeaders {
  text-transform: uppercase;
  color: rgba(208, 238, 29, 1);
  width: 25%;
}
.monsterContent table .rewardNames {
  width: 25%;
}
.monsterContent table .rewardInfos {
  width: 100%;
  text-align: left;
}

/* This is for RATING */
.react-rater {
  padding-left: 10px;
}
.react-rater-star.is-active {
  color: rgba(208, 238, 29, 1);
}
.is-disabled {
  color: transparent;
}
@media (max-width: 700px) {
  .monsterContent .imgBlock {
    width: 500px;
  }
  .monsterContent .imgBlock img {
    width: 500px;
  }
}
@media (max-width: 499px) {
  .monsterContent table .rewardHeaders,
  .monsterContent table .rewardNames,
  .monsterContent table .rewardInfos {
    padding: 12px;
    font-size: 15px;
  }
  .monsterContent .imgBlock {
    width: 300px;
  }
  .monsterContent .imgBlock img {
    width: 300px;
  }
}
