/* -------------------------------------------------------------------------- */
/* body is resetting on reload, hence, refresh body css */
* {
  -webkit-box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
}

/* -------------------------------------------------------------------------- */
/*NOTE SCROLLBAR MANIPULATION */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(208, 238, 29, 0.9);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(208, 238, 29, 1);
}
/* -------------------------------------------------------------------------- */

html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
body {
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0px;
  position: relative;
  min-height: 100%;
  height: auto;
  background: black;
}
/* -------------------------------------------------------------------------- */

.monsterContent {
  color: white;
  position: relative;
  top: 0;
  right: 0;
  font-family: 'MedievalSharp', cursive;
  padding: 40px 0 70px 0;
  animation-delay: 0.2s;
}
.monsterContent .monsterTitle {
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto 20px auto;
  width: 50%;
}
.monsterContent .monsterDesc {
  margin: 0 auto 30px auto;
  text-align: center;
  font-size: 16px;
  color: rgba(208, 238, 29, 1);
  width: 80%;
}
.monsterContent .imgBlock {
  width: 650px;
  position: fixed;
  filter: brightness(55%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -20;
}

.monsterContent .leftBox {
  width: 150px;
  height: auto;
  position: fixed;
  left: 0%;
  background: rgba(38, 38, 38, 0.7);
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  animation-delay: 0.5s;
}
.monsterContent .leftBox .monsterAttr {
  padding-bottom: 30px;
}
.monsterContent .leftBox .monsterAttr:last-child {
  padding-bottom: 0;
}
.monsterContent .monsterTitles {
  height: auto;
  padding-bottom: 5px;
  text-align: center;
  font-size: 18px;
  color: #cfee1d;
  padding-bottom: 5px;
}
.monsterContent .rightBox {
  width: 320px;
  height: auto;
  position: fixed;
  right: 0%;
  background: rgba(38, 38, 38, 0.7);
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  animation-delay: 0.5s;
}
.monsterContent .rightBox .monsterAttr {
  padding-bottom: 30px;
}
.monsterContent .rightBox .monsterAttr:last-child {
  padding-bottom: 0;
}

.monsterContent .rightBox .rewardsFlex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.monsterContent .rightBox .rewardsFlex .rewardLink {
  color: rgba(208, 238, 29, 0.8);
  text-decoration: underline;
}
.monsterContent .rightBox .rewardsFlex .rewardLink:hover {
  color: rgba(208, 238, 29, 1);
}

/* This is for RATING */
.react-rater {
  padding-left: 10px;
}
.react-rater-star.is-active {
  color: gold;
}
.is-disabled {
  color: transparent;
}

@media (max-width: 499px) {
  .monsterContent .monsterDesc {
    width: 90%;
  }
  .monsterContent .imgBlock {
    width: 300px;
  }
  .monsterContent .imgBlock img {
    width: 300px;
  }
  .monsterContent .leftBox {
    position: relative;
    margin: 0 auto;
  }
  .monsterContent .rightBox {
    width: 280px;
    position: relative;
    margin: 0 auto;
  }
  .monsterContent .rightBox .rewardsFlex .rankBox {
    padding-bottom: 4px;
  }
}
