.monster {
  position: relative;
  cursor: pointer;
}

.tiltMonster {
  border-radius: 4px;
  height: 350px;
  width: 250px;
  transition: all ease 0.15s;

  background: linear-gradient(
    100deg,
    rgba(207, 239, 29, 0.8) 15%,
    #161616 15%,
    #161616 87.5%,
    rgba(207, 239, 29, 0.8) 85%
  );
  transform-style: preserve-3d;
}
.tiltMonster:hover {
  background: linear-gradient(
    100deg,
    rgba(207, 239, 29, 0.8) 15%,
    #262626 15%,
    #262626 87.5%,
    rgba(207, 239, 29, 0.8) 85%
  );
  transition: all ease 0.15s;
}
.tiltMonster .tiltInner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.85);
  width: 125px;
  height: 125px;
  -webkit-box-shadow: inset 0px 0px 0px transparent;
  box-shadow: inset 0px 0px 0px transparent;
  border-radius: 50%;
  -webkit-transition: all linear 0.15s;
  -o-transition: all linear 0.15s;
  transition: all linear 0.15s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tiltMonster .deets {
  font-family: 'MedievalSharp', cursive;
  position: absolute;
  bottom: 20%;
  right: 55%;
  font-size: 25px;
  line-height: 25px;
  -webkit-transform: translate(60%, 20%);
  -ms-transform: translate(60%, 20%);
  transform: translate(55%, 20%);
  text-align: center;
  letter-spacing: 2px;
}
