.nav {
  position: fixed;
  top: 0;
  right: 5%;
  -webkit-transform: translate(5%, 0);
  -ms-transform: translate(5%, 0);
  transform: translate(5%, 0);
  z-index: 90;
  animation-delay: 0.3s;
}
.nav .menuContainer {
  color: white;
  width: 80px;
  height: 100%;
  background: transparent;
  top: -8px;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all linear 0.15s;
  -o-transition: all linear 0.15s;
  transition: all linear 0.15s;
}
.nav .menuContainer:hover {
  -webkit-transition: all linear 0.15s;
  -o-transition: all linear 0.15s;
  transition: all linear 0.15s;
  color: #cfee1d;
}
.nav .menuContainer span {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -20%);
  -ms-transform: translate(-50%, -20%);
  transform: translate(-50%, -20%);
  font-family: 'MedievalSharp', cursive;
}
.hideIt {
  display: none;
  visibility: hidden;
}
.overlayMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  z-index: 50;
  pointer-events: none;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.overlayOn {
  opacity: 1;
  pointer-events: auto;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.overlayMenu .flexAnchors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.overlayMenu .flexAnchors a {
  cursor: pointer;
  font-size: 30px;
  line-height: 30px;
  font-family: 'MedievalSharp', cursive;
  color: rgba(255, 255, 255, 0.5);
  margin: 20px;
  padding: 10px;
  -webkit-transition: color ease 0.15s;
  -o-transition: color ease 0.15s;
  transition: color ease 0.15s;
}
.overlayMenu .flexAnchors a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  border-bottom: 3px solid #cfee1d;
  transition: all ease 0.15s;
}
.overlayMenu .flexAnchors a:hover {
  color: rgb(207, 238, 29);
  -webkit-transition: color ease 0.15s;
  -o-transition: color ease 0.15s;
  transition: color ease 0.15s;
}
.overlayMenu .flexAnchors a:hover::after {
  width: 100%;
  transition: all ease 0.15s;
}
.overlayMenu .flexAnchors a:nth-child(1) {
  animation-delay: 0.7s;
}
.overlayMenu .flexAnchors a:nth-child(2) {
  animation-delay: 0.78s;
}
.overlayMenu .flexAnchors a:nth-child(3) {
  animation-delay: 0.86s;
}
.overlayMenu .flexAnchors a:nth-child(4) {
  animation-delay: 0.94s;
}
.overlayMenu .flexAnchors a:nth-child(5) {
  animation-delay: 1.02s;
}

.navigation .nav .menuWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.navigation .nav .menuWrapper .menuItemKebab {
  width: 40px;
  height: 40px;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navigation .nav .menuWrapper .menuItemKebab .circle:nth-child(4),
.navigation .nav .menuWrapper .menuItemKebab .circle:nth-child(5) {
  position: absolute;
  opacity: 0;
  top: 50%;
  margin-top: -1px;
  left: 50%;
}
.navigation .nav .menuWrapper .menuItemKebab .circle:nth-child(4) {
  margin-left: -12px;
}
.navigation .nav .menuWrapper .menuItemKebab .circle:nth-child(5) {
  margin-left: 9px;
}
.navigation .nav .menuWrapper .menuItemKebab .circle {
  width: 3px;
  height: 3px;
  margin: 3px;
  background: #fff;
  border-radius: 50%;
  display: block;
}
.nav .menuContainer:hover .menuWrapper .menuItemKebab .circle {
  -webkit-transition: all linear 0.15s;
  -o-transition: all linear 0.15s;
  transition: all linear 0.15s;
  background: #cfee1d;
}
.navigation .nav .menuWrapper .menuClose {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.navigation .nav .menuWrapper .menuItemKebab #circleOnOne,
.navigation .nav .menuWrapper .menuItemKebab #circleOnTwo {
  opacity: 1;
}
.overlayMenu .noticeBlock {
  position: absolute;
  text-align: center;
  bottom: 20px;
  line-height: 15px;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  font-size: 14px;
  color: white;
  font-family: 'MedievalSharp', cursive;
}
.overlayMenu .noticeBlock .notice {
  -webkit-animation-delay: 0.4s;
  color: rgb(208, 238, 29);
  animation-delay: 0.4s;
  animation-duration: 0.5s;
}
