.button {
  width: 100%;
  height: 100%;
  font-family: 'MedievalSharp', cursive;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  border: 1px solid #262626;
  border-radius: 4px;
  -webkit-transition: all linear 0.15s;
  -o-transition: all linear 0.15s;
  transition: all linear 0.15s;
  outline: none;
  z-index: 10;
  transition: color ease 0.15s;
}
.button::before {
  content: '❮';
  position: absolute;
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
  transform: rotateZ(45deg);
  top: -3px;
  transition: color ease 0.15s;
  left: 0;
}
.button::after {
  content: '❯';
  position: absolute;
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
  transform: rotateZ(45deg);
  bottom: -5px;
  transition: color ease 0.15s;
  right: 0;
}

.button:hover,
.button:hover::after,
.button:hover::before {
  color: #cfee1d;
  transition: color ease 0.15s;
}
