.skillGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, auto));
  grid-auto-rows: minmax(135px, auto);
  justify-content: center;
  align-content: stretch;
  width: 90%;
  margin: 0 5%;
  height: 100%;
  grid-gap: 20px;
}

.skillComp {
  padding: 20px;
  background: linear-gradient(
    100deg,
    rgba(207, 239, 29, 0.8) 8%,
    #161616 8%,
    #161616 92%,
    rgba(207, 239, 29, 0.8) 90%
  );
  height: 100%;
  width: 100%;
  border-radius: 2px;
  text-align: center;
  transition: all ease 0.2s;
}

.skillComp img {
  opacity: 0.5;
  transition: all ease 0.2s;
}
.skillComp .skillDeets {
  padding-top: 15px;
  color: rgba(207, 239, 29, 1);
  text-decoration: underline;
  font-family: 'MedievalSharp', cursive;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 1px;
}

.skillComp:hover {
  transform: translate(0, -5px);
  background: linear-gradient(
    100deg,
    rgba(207, 239, 29, 0.8) 8%,
    #262626 8%,
    #262626 92%,
    rgba(207, 239, 29, 0.8) 90%
  );
  transition: all ease 0.2s;
}

.skillComp:hover img {
  opacity: 1;
  transition: all ease 0.2s;
}
