* {
  -webkit-box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
}

/* -------------------------------------------------------------------------- */
/*NOTE SCROLLBAR MANIPULATION */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(208, 238, 29, 0.9);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(208, 238, 29, 1);
}
/* -------------------------------------------------------------------------- */

html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
body {
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0px;
  position: relative;
  min-height: 100%;
  height: auto;
  background: black;
  /* -------------------------------------------------------------------------- */
  /* NOTE BODY BACKGROUND */
  /* background: #000;
  background: -webkit-linear-gradient(to bottom, #000, #d6a4a4);
  background: linear-gradient(to bottom, #000, #d6a4a4); */
  /* -------------------------------------------------------------------------- */
}
